* {
  margin: 0;
  padding: 0;
  color: black;
}
body {
  background-size: cover;
  height: 100%;
}
.page-title {
  text-align: center;
  border-bottom: 2px solid white;
  padding-top: 20px;
  background-image: url("Pictures/Background_.png");  
  }

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-image: linear-gradient(#302271, #2fbcc5);
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: black;
    background: white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.home {
    max-width: 60px;
    max-height: 60px;
    display: inline-block;
    position: relative;
    left: 25%;
    background: none;
}

.github {
    max-width: 50;
    max-height: 50px;
    display: inline-block;
    position: relative;
    left: 5%;

}

.tab {
    margin: 0 auto;
}


th, td {
    padding: 15px;
    text-align: left;
  }

.show {
    max-width: 500px;
    max-height: 500px;
}

.show:hover {
    max-width: 550px;
    max-height: 550px;
    box-shadow: 2px 2px 4px #000000;
}


.Container {
  width: 250px;
  height: 250px;
  background: none;
  perspective: 800px;
}

.Card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  border: 5px solid black;
  backface-visibility: hidden;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Card:hover {
  transform: scale(1.1);
}

.Card.flipped {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  background-image: url("Pictures/RPS_Icon.png");
  background-size: 190px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.front2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  background-image: url("Pictures/Tetris_App_Icon.png");
  background-size: 190px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: transparent;
  transform: rotateY(180deg);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  background-image: linear-gradient(#2fbcc5, #302271);
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: transparent;
  transform: rotateY(180deg);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  background-image: linear-gradient(#2fbcc5, #302271);
}

.SourceButton, 
.DemoButton {
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  background-color: #2fbcc5;
  border-radius: 100%;
  margin: 0;
  position: absolute;
  max-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}

.SourceButton:hover, 
.DemoButton:hover {
  background-color: white;;
} 
.SourceButton {
  top: 35%;
  left: 30%;
}

.DemoButton {
  top: 65%;
  left: 30%;

}

.description {
  text-align: center;
  padding-top: 30px;

}

#footer {
  background-image: url("Pictures/Background_.png");
  height: 10%;
  /* The bottom four is how I fixed floating footer*/
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0;
}

#head1 {
  background-image: linear-gradient(#2fbcc5, #302271);
  height: 20%;
  text-align: center;
  padding-top: 5%;
  color: black;
}

#head2 {
  background-image: linear-gradient(#2fbcc5, #302271);
  height: 20%;
  text-align: center;
  padding-top: 5%;
  color: black;
}

#End {
  position: absolute;
  bottom: 0; 
  right: 0;  
  text-align:right;
  font-size: 12px;
  padding: 5px;
}

#email {
  position: absolute;
  bottom: 0; 
  left: 0;  
  text-align: left;
  font-size: 12px;
  padding: 5px;
}