* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/Users/danny/Desktop/Danny's Code Portfolio/web-portfolio/Pictures/BlueBG.jpg");
}
.page-title {
    text-align: center;
    border-bottom: 2px solid white;
    padding-top: 20px;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #4F9D69; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: green;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
*/

.Intro {
    width: 400px;
    margin:  auto;
    font-size: 20px;
    word-spacing: 5px;
    padding: 10px;
}

.home {
    max-width: 60px;
    max-height: 60px;
    display: inline-block;
    position: relative;
    left: 25%;
}

.github {
    max-width: 60;
    max-height: 60px;
    display: inline-block;
    position: relative;
    left: 25%;

}

.insta {
    max-width: 100px;
    max-height: 100px;
    display: inline-block;
    position: relative;
    left: 40%;
} 
*/
.tab {
    margin: 0 auto;
}


th, td {
    padding: 15px;
    text-align: left;
  }

.show {
    max-width: 500px;
    max-height: 500px;
}

.show:hover {
    max-width: 550px;
    max-height: 550px;
    box-shadow: 2px 2px 4px #000000;
}

